<div class="bottom-bar-layout-container w-full h-[100vh] flex flex-col ">

    <div class="page-content h-[calc(100vh-96px)] w-full overflow-auto">
        <router-outlet></router-outlet>
    </div>

    <div class="bottom-bar bg-white shadow w-full flex flex-row-reverse justify-between absolute bottom-0 ">
        
        <a [routerLink]="'home'">
            
            <fa-icon [icon]="icons.faHome"></fa-icon>
            <span >صفحه اصلی</span>

        </a>

        <a [routerLink]="'doctors-list'">
            
            <fa-icon [icon]="icons.faStethoscope"></fa-icon>
            <span >پزشکان</span>

        </a>

        <a [routerLink]="'follow-up'">

            <fa-icon [icon]="icons.faComments"></fa-icon>
            <span >فالو آپ</span>

        </a>

        <a [routerLink]="'user-profile'">

            <fa-icon [icon]="icons.faUser"></fa-icon>
            <span class="text-xs " >پروفایل</span>
            
        </a>
    </div>

</div>