<div class="bottom-bar-layout-container w-full h-[100vh] flex flex-col ">

    <div class="page-content h-[calc(100vh-96px)] w-full overflow-auto">
        <router-outlet></router-outlet>
    </div>

    <div class="bottom-bar bg-red-200 w-full h-24 flex flex-row-reverse flex-auto justify-between mt-auto ">
        
        <a class="flex flex-col p-4 justify-center items-center" [routerLink]="'home'">
            
            <fa-icon class="text-xl m-2" [icon]="icons.faHome"></fa-icon>
            <span class="text-xs " >صفحه اصلی</span>

        </a>

        <a class="flex flex-col p-4 justify-center items-center" [routerLink]="'doctors-list'">
            
            <fa-icon class="text-xl m-2" [icon]="icons.faStethoscope"></fa-icon>
            <span class="text-xs" >پزشکان</span>

        </a>

        <a class="flex flex-col p-4 justify-center items-center" [routerLink]="'follow-up'">

            <fa-icon class="text-xl m-2" [icon]="icons.faComments"></fa-icon>
            <span class="text-xs" >فالو آپ</span>

        </a>

        <a class="flex flex-col p-4 justify-center items-center" [routerLink]="'user-profile'">

            <fa-icon class="text-xl m-2" [icon]="icons.faUser"></fa-icon>
            <span class="text-xs " >پروفایل</span>
            
        </a>
    </div>

</div>