<div class="doctors-list ">
    <div class="flex flex-row-reverse bg-blue-400 h-20 w-full shadow p-4 justify-between">

        <div class="search-input-container flex flex-col relative">
            <input type="text  ">
            <span class="absolute  ">search icon</span>
        </div>
        
        <div class="filters-container flex flex-col">
            <button class="filters bg-red-200">
                <span>
                    فیلتر
                </span>
                <span>
                    icon
                </span>
            </button>
        </div>
        
    </div>
    
    <div class="doctors-list-container bg-purple-200 p-4 gap-4 flex flex-col h-full overflow-auto">
        <div (click)="seeDoctorProfile()" class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
        <div class="docs-list-item bg-green-400 h-8  " ></div>
    </div>

</div>