<div class="doctors-list" dir="rtl">

    <div class="flex flex-row bg-white h-18 w-full shadow p-4 justify-between gap-4">

        <div class="search-input-container flex flex-col relative w-full">
            <input class="h-8 w-full rounded bg-thsearchboxbg indent-6 text-xs" placeholder="جست و جوی نام،کد پذیرش و ..."  type="text">
            
            <fa-icon class="absolute text-xs p-2 text-thinputplaceholder" [icon]="faSearch"></fa-icon>

        </div>
        
        <div class="filters-container flex flex-col">
            <button class="filters bg-thpurple w-20 h-8 rounded text-sm text-white bold">

                <span>
                    فیلتر
                </span>

                <fa-icon class=" text-xs  mx-2" [icon]="faSlider"></fa-icon>
                
            </button>
        </div>
        
    </div>
    
    <div class="doctors-list-container p-4 gap-4 flex flex-col h-[calc(100vh-160px)] overflow-y-auto ">
        
        <span>
            لیست پزشکان
        </span>
        <app-doctors-list-item (click)="seeDoctorProfile()"></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
        <app-doctors-list-item></app-doctors-list-item>
       
    </div>

</div>