<div class="details-accordion my-4 items-center " dir="rtl">

    <mat-accordion class="w-full" >
        <mat-expansion-panel hideToggle class="text-xs" dir="rtl">
        <mat-expansion-panel-header class="h-8 ">
            <mat-panel-title>
                {{title}}
            </mat-panel-title>
                  
                <fa-icon [icon]="icons.faAngleLeft" class="text-thpurple text-sm "></fa-icon>
        </mat-expansion-panel-header>

        {{details}}

        </mat-expansion-panel>
    </mat-accordion>

</div>

  