<div class="doctors-list-item bg-white h-20 rounded-xl flex flex-row shadow">

    <div class="dli-image flex flex-col h-full w-3/12 justify-center items-center ">
        <dtheme-image-viewer></dtheme-image-viewer>
    </div>

    <div class="dli-details flex flex-col h-full w-7/12 place-content-between p-1">

        <span class="text-sm text-bold">
            رضا رحیمی
        </span>
        <span class="text-sm text-ellipsis truncate">
            فوق تخصص گوارش و بیماری های گوارشی
        </span>
        <span class="text-xs">
            ۱۳ سال سابقه
        </span>

    </div>

    <div class="dli-arrow flex flex-col h-full w-2/12 ">
        <span class="m-auto" >
            <fa-icon [icon]="faLeft"></fa-icon>
        </span>
    </div>

</div>