<div class="doctor-profile-container flex flex-col w-full text-liteyellow" dir="rtl">

    <div class="dp-title-bar flex flex-row flex-auto  justify-between shadow h-16 bg-white" >
        <span>پروفایل پزشک</span>
        <span>back icon</span>
    </div>

    <div class="dp-doctor-name flex flex-row flex-auto">
        <div class="flex flex-col">

            <span>image</span>
        </div>
        <div class="flex flex-col">
            <span>
                دکتر فرخی
            </span>
            <span>
                متخصص مغز و اعصاب
            </span>
        </div>
    </div>

    <div class="dp-doctor-overview flex flex-row flex-auto">
        <span>item1</span>
        <span>item1</span>
        <span>item1</span>
    </div>

    <div class="dp-doctor-details-container">
        <ng-container >
            <div class="dp-info-accordion flex flex-row flex-auto">
                درباره پزشک
            </div>
        </ng-container>
        <ng-container >
            <div class="dp-info-accordion flex flex-row flex-auto">
                درباره پزشک
            </div>
        </ng-container>
        <ng-container >
            <div class="dp-info-accordion flex flex-row flex-auto">
                درباره پزشک
            </div>
        </ng-container>
    </div>

    <div class="dp-reservation-title">
        <span>
            ساعات کاری و جلسات پزشک
        </span>
    </div>

    <div class="dp-reservation-cards flex flex-row flex-auto flex-wrap justify-center gap-4">
        sda
        <div class="flex flex-col h-8 w-8 bg-red-200"></div>
        <div class="flex flex-col h-8 w-8 bg-red-200"></div>
        <div class="flex flex-col h-8 w-8 bg-red-200"></div>
        <div class="flex flex-col h-8 w-8 bg-red-200"></div>
        <div class="flex flex-col h-8 w-8 bg-red-200"></div>
    </div>

    <div class="dp-reserve-btn-holder flex flex-row flex-auto justify-center">
        <button>
            <span>
                ثبت و دریافت نوبت
            </span>
        </button>
    </div>

</div>