/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
}

@font-face {
    font-family: "estedad";
    src: local("estedad"), url(./assets/fonts/Estedad-Light.ttf) format("truetype");
}

@font-face {
    font-family: "estedadBold";
    src: local("estedadBold"), url(./assets/fonts/Estedad-Bold.ttf) format("truetype");
}

*{
    font-family: estedad;
}